table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders */
    margin: 20px 0; /* Add some margin around the table */
}

/* Table headers */
th {
    background-color: #009879; /* Dark green background */
    color: #ffffff; /* White text color */
    text-align: left; /* Align text to the left */
    padding: 12px 15px; /* Add some padding */
}

/* Table cells */
td {
    padding: 12px 15px; /* Add some padding */
    border-bottom: 1px solid #dddddd; /* Light grey border for rows */
}

/* Table rows: hover effect for interactivity */
tr:hover {
    background-color: #f5f5f5; /* Light grey background on hover */
}

/* First row of the table that is not hovered */
tr:nth-child(even):hover {
    background-color: #f5f5f5;
}

/* Zebra striping for rows */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Lighter grey for even rows */
}

/* Responsive Table */
@media screen and (max-width: 600px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    }
}


body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 100px;
    padding: 20px;
    background-color: #f0f2f5;
    color: #333;
}
footer {
    background-color: #6fb0cc;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
header {
    background-color: #6fb0cc;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.container {
    padding: 20px;
}
.gallery { display: flex; flex-wrap: wrap; padding: 5px; }
.gallery img { margin: 5px; width: 800px; height: auto; } 
div {
    word-wrap: break-word;
}
.gallery2 { display: flex; flex-wrap: wrap; padding: 5px; }
.gallery2 img { margin: 5px; width: 700px; height: auto; } 
div {
    word-wrap: break-word;
}

